<div class="flex flex-col md:flex-row">
  <!-- Image Section -->
  <div class="hidden sm:block w-full md:w-1/2 overflow-hidden h-[50vh] md:h-[90vh]">
    <img class="w-full h-full object-cover"
      src="/assets/images/login_image.jpg" alt="Login background image">
  </div>

  <!-- Login Form Section -->
  <div class="grid w-full md:w-1/2
    grid-cols-1 place-content-center place-items-center bg-maincolor-highlight3
    py-12 md:py-0 px-4 space-y-4 min-h-[90vh] md:h-[90vh]">
    <img src="/assets/images/logo.png"
      alt="Noah's Ark Logo"
      class="mx-auto mb-4 h-32 w-32 sm:h-40 sm:w-40 md:h-56 md:w-56">
    <h1 class="text-center text-2xl sm:text-3xl md:text-4xl font-bold text-maincolor-blacktext">
      Welcome back!
    </h1>
    <input type="text"
      name="email"
      id="email"
      value=""
      placeholder="Email"
      class="w-full sm:w-8/12 md:w-6/12 rounded-lg border border-maincolor-blacktext
      bg-maincolor-primary px-2 py-3 text-maincolor-blacktext
      placeholder-maincolor-blacktext focus:outline-none font-medium
      "
    >

    <input type="password"
      name="user_pass"
      id="user_pass"
      value=""
      placeholder="Password"
      class="w-full sm:w-8/12 md:w-6/12 rounded-lg border border-maincolor-blacktext
      bg-maincolor-primary px-2 py-3 text-maincolor-blacktext
      placeholder-maincolor-blacktext focus:outline-none font-medium
      "
    >
    <a class="text-maincolor-highlight2"
      href="/login">
      Don't have an account?</a>
    <app-button class="px-10 sm:px-16 md:px-20"
      (click)="loginFunc()"
      label="Log In"
    ></app-button>
  </div>
</div>


