<section class="bg-maincolor-secondary min-h-[65vh] flex items-center">
  <div class="py-6 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 w-full">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1 class="mb-4 text-5xl sm:text-7xl tracking-tight font-extrabold lg:text-9xl text-maincolor-highlight">
        404
      </h1>
      <p class="mb-4 text-2xl sm:text-3xl tracking-tight font-bold text-maincolor-highlight md:text-4xl">
        Something's missing.
      </p>
      <p class="mb-4 text-base sm:text-lg font-light text-maincolor-highlight2 dark:text-gray-400 px-4">
        Sorry, we can't find that page. You'll find lots to explore on the home page.
      </p>
      <a href="/" class="inline-flex text-white bg-maincolor-highlight hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">
        Back to Homepage
      </a>
    </div>
  </div>
</section>
