
<nav class="bg-maincolor-primary font-monserrat shadow-md py-1 text-lg">

  <div class="container mx-auto flex justify-between items-center xl:h-24">
    <a href=""><img src="assets/images/logo.png" alt="logo" href="/" class="w-32 h-32"></a>
    <div class="space-x-6">
      <a routerLink="/" class="hover:underline"></a>
      <a routerLink="/events" class="hover:underline">Event</a>
      <a routerLink="/adoption" class="hover:underline">Adoption</a>
      <a routerLink="/about" class="hover:underline">About Us</a>
      <a routerLink="/contact" class="hover:underline">Contact Us</a>
      <a class="" routerLink="/login">
        <button class="w-6 h-6 bg-black rounded-full"></button>
      </a>
    </div>
  </div>
</nav>

