<div class="bg-maincolor-highlight3 p-8">
  <div class="flex space-x-4 my-4">
    <app-button (click)="addPet()" label="Add"></app-button>
    <app-button (click)="editPet()" label="Edit"></app-button>
    <app-button (click)="delPet()" label="Delete"></app-button>
  </div>
  <div *ngIf="showAddForm" class="mb-6 bg-maincolor-secondary p-4 rounded-md">
    <h2 class="text-xl font-bold mb-4 text-maincolor-blacktext">Add New Animal</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block text-maincolor-blacktext mb-1">Name*</label>
        <input [(ngModel)]="newAnimal.name" class="w-full p-2 rounded bg-maincolor-primary text-black" placeholder="Name">
      </div>
      <div>
        <label class="block text-maincolor-blacktext mb-1">Rescue Date*</label>
        <input [(ngModel)]="newAnimal.rescue_date" type="date" class="w-full p-2 rounded bg-maincolor-primary text-black">
      </div>
      <div>
        <label class="block text-maincolor-blacktext mb-1">Personality*</label>
        <input [(ngModel)]="newAnimal.personality" type="text" class="w-full p-2 rounded bg-maincolor-primary text-black">
      </div>
      <div>
        <label class="block text-maincolor-blacktext mb-1">Breed*</label>
        <input [(ngModel)]="newAnimal.breed" type="text" class="w-full p-2 rounded bg-maincolor-primary text-black">
      </div>
      <div>
        <label class="block text-maincolor-blacktext mb-1">Code*</label>
        <input [(ngModel)]="newAnimal.code" type="text" class="w-full p-2 rounded bg-maincolor-primary text-black">
      </div>
      <div class="md:col-span-2">
        <label class="block text-maincolor-blacktext mb-1">Status</label>
        <input [(ngModel)]="newAnimal.status" type="checkbox" class="w-full p-2 rounded bg-maincolor-primary text-black">
      </div>
      <div class="md:col-span-2">
        <label class="block text-maincolor-blacktext mb-1">Image</label>
        <div class="flex items-center space-x-2">
          <input
            type="file"
            accept="image/*"
            class="hidden"
            #imageInput
            (change)="onImageSelected($event)">
          <button
            (click)="imageInput.click()"
            class="bg-maincolor-highlight2 text-white px-4 py-2 rounded-lg">
            Browse Image
          </button>
          <span *ngIf="selectedFileName" class="text-maincolor-blacktext">{{selectedFileName}}</span>
          <span *ngIf="isUploading" class="text-maincolor-blacktext ml-2">Uploading...</span>
        </div>
        <div *ngIf="newAnimal.animal_pic" class="mt-2">
          <img [src]="newAnimal.animal_pic" alt="Animal Preview" class="max-h-40 rounded-sm">
        </div>
      </div>
    </div>
    <div class="flex space-x-4 mt-4">
      <app-button (click)="submitNewAnimal()" label="Save Animal"></app-button>
      <button (click)="cancelAdd()" class="bg-maincolor-highlight2 text-white
        px-4 py-2 rounded-lg font-medium text-2xl">
        Cancel
      </button>
    </div>
  </div>
  <div class="overflow-x-auto rounded-md">
    <table class="min-w-full">
      <thead class="bg-maincolor-secondary text-maincolor-blacktext">
        <tr class="">
          <th class="p-2"></th>
          <th class="border-r-2 border-r-maincolor-sections p-2">NAME</th>
          <th class="border-r-2 border-r-maincolor-sections p-2">RESCUE DATE</th>
          <th class="border-r-2 border-r-maincolor-sections p-2">PERSONALITY</th>
          <th class="border-r-2 border-r-maincolor-sections p-2">BREED</th>
          <th class="border-r-2 border-r-maincolor-sections p-2">CODE</th>
          <th class="border-r-2 border-r-maincolor-sections p-2">STATUS</th>
          <th class="p-2">Image</th>
        </tr>
      </thead>
      <tbody class="bg-maincolor-secondary">
        <tr *ngFor="let animal of animals" class="text-maincolor-blacktext">
          <td class="p-2">
            <div *ngIf="animal.isEditing; else editDeleteButtons" class="flex space-x-2">
              <button (click)="submitEdit(animal)" class="bg-maincolor-highlight px-2 py-2 rounded">
                <svg class="w-6 h-6 stroke-maincolor-whitetext" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 13L9 17L19 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </button>
              <button (click)="cancelEdit(animal)" class="border-maincolor-highlight border-2 px-2 py-2 rounded">
                <svg class="w-6 h-6 stroke-maincolor-whitetext" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 18L18 6M6 6l12 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>
            <ng-template #editDeleteButtons>
              <button (click)="toggleEdit(animal)" class="bg-maincolor-highlight px-2 py-2 rounded-sm">
                <i *ngIf="editStatus; else delButton">
                  <svg class="w-6 h-6 stroke-maincolor-whitetext" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.4998 5.49994L18.3282 8.32837M3 20.9997L3.04745 20.6675C3.21536 19.4922 3.29932 18.9045 3.49029 18.3558C3.65975 17.8689 3.89124 17.4059 4.17906 16.9783C4.50341 16.4963 4.92319 16.0765 5.76274 15.237L17.4107 3.58896C18.1918 2.80791 19.4581 2.80791 20.2392 3.58896C21.0202 4.37001 21.0202 5.63634 20.2392 6.41739L8.37744 18.2791C7.61579 19.0408 7.23497 19.4216 6.8012 19.7244C6.41618 19.9932 6.00093 20.2159 5.56398 20.3879C5.07171 20.5817 4.54375 20.6882 3.48793 20.9012L3 20.9997Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </i>
                <ng-template #delButton>
                  <button *ngIf="!editStatus" (click)="deleteAnimal(animal)">
                    <svg class="w-6 h-6 stroke-maincolor-whitetext" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </button>
                </ng-template>
              </button>
            </ng-template>
          </td>
          <td class="border-r-2 border-r-maincolor-sections p-2 border-b-2 border-maincolor-highlight w-96">
            <div *ngIf="animal.isEditing; else displayName">
              <input [(ngModel)]="animal.editData!.name" class="w-full p-1 bg-maincolor-primary text-black" />
            </div>
            <ng-template #displayName>{{ animal.name }}</ng-template>
          </td>
          <td class="border-r-2 border-r-maincolor-sections p-2 border-b-2 border-maincolor-highlight w-96">
            <div *ngIf="animal.isEditing; else displayRescueDate">
              <input [(ngModel)]="animal.editData!.rescue_date" type="date" class="w-full p-1 bg-maincolor-primary text-black" />
            </div>
            <ng-template #displayRescueDate>{{ animal.rescue_date }}</ng-template>
          </td>
          <td class="border-r-2 border-r-maincolor-sections p-2 border-b-2 border-maincolor-highlight w-96">
            <div *ngIf="animal.isEditing; else displayPersonality">
              <input [(ngModel)]="animal.editData!.personality" type="text" class="w-full p-1 bg-maincolor-primary text-black" />
            </div>
            <ng-template #displayPersonality>{{ animal.personality }}</ng-template>
          </td>
          <td class="border-r-2 border-r-maincolor-sections p-2 border-b-2 border-maincolor-highlight w-96">
            <div *ngIf="animal.isEditing; else displayBreed">
              <input [(ngModel)]="animal.editData!.breed" type="text" class="w-full p-1 bg-maincolor-primary text-black" />
            </div>
            <ng-template #displayBreed>{{ animal.breed }}</ng-template>
          </td>
          <td class="border-r-2 border-r-maincolor-sections p-2 border-b-2 border-maincolor-highlight w-96">
            <div *ngIf="animal.isEditing; else displayCode">
              <input [(ngModel)]="animal.editData!.code" type="text" class="w-full p-1 bg-maincolor-primary text-black" />
            </div>
            <ng-template #displayCode>{{ animal.code }}</ng-template>
          </td>
          <td class="border-r-2 border-r-maincolor-sections p-2 border-b-2 border-maincolor-highlight w-96">
            <div *ngIf="animal.isEditing; else displayStatus">
              <input [(ngModel)]="animal.editData!.status" type="checkbox" class="w-full p-1 bg-maincolor-primary text-black" />
            </div>
            <ng-template #displayStatus>{{ animal.status }}</ng-template>
          </td>
          <td class="p-2 border-b-2 border-maincolor-highlight w-96">
            <div *ngIf="animal.isEditing; else displayImage">
              <div class="flex items-center space-x-2">
                <input
                  type="file"
                  accept="image/*"
                  class="hidden"
                  #editImageInput
                  (change)="onEditImageSelected($event, animal)">
                <button
                  (click)="editImageInput.click()"
                  class="bg-maincolor-highlight2 text-white px-3 py-1 rounded-lg text-sm">
                  Change Image
                </button>
                <span *ngIf="animal.editImageName" class="text-maincolor-blacktext text-sm">{{animal.editImageName}}</span>
                <span *ngIf="animal.isUploading" class="text-maincolor-blacktext text-sm ml-2">Uploading...</span>
              </div>
              <img [src]="animal.editData!.animal_pic || animal.animal_pic" alt="Animal Image Preview" class="image-admin w-full h-full bg-gray-300 mt-2">
            </div>
            <ng-template #displayImage>
              <img #animalImage [src]="animal.animal_pic" alt="Animal Image" class="image-admin w-full h-full bg-gray-300">
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
